.card {
    > div {
        padding-top: 250px;
        margin: 0 10px;
        background-position: bottom;
        background-size: cover;
        border-bottom: none;
        
        &.blaze-the-stage {
            background-image: url('../images/blaze-the-stage.png');
        }
        &.brilliant-idiots {
            background-image: url('../images/brilliant-idiots.png');
        }
        &.futoboleros {
            background-image: url('../images/futoboleros.png');
        }
    }
    > header {
        margin: 0 10px;
        border-top: solid 1px lighten($border-color, 20%);
        border-left: solid 1px $border-color;
        border-right: solid 1px $border-color;
        border-bottom: solid 1px $border-color;
        text-align: center;
        padding: 10px 0;
        text-transform: uppercase;
        background: #fff;
    }
}