form.contact {
  margin-bottom: 80px;
  input,
  textarea {
    border: solid 1px $border-color;
    background: transparent;
    
    &:focus,
    &:hover {
      border-color:$secondary-color;
    }
  }
  input{
    font-size: 2.0em;
    line-height: 2.2em;
    height: 2.2em;
  }
  
  textarea {
    font-size: 2.0em;
    line-height: 2.2em;
    height: 300px;
  }
  
  button {
    height: 80px;
    line-height: 80px;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    background: $secondary-color;
    
    &:hover {
      background: darken($secondary-color, 10%);
    }
  }
}