.newsletter {
    border-top: solid 2px darken($primary-color, 10%);
    border-bottom: solid 10px darken($primary-color, 20%);
    background: lighten($primary-color, 30%);
    margin-bottom: 80px;
    padding: 20px 0 60px;
    h2 {
        font-size: 3.0em;
        line-height: 1.0em;
        position: relative;
    }
    p {
        font-size: 1.2em;
    }
    input,
    button {
        font-size: 2.0em;
        line-height: 2.2em;
        height: 2.2em;
        border: solid 1px #ccc;
        position: relative;
    }
    input {
        width: 90%;
        border-radius: 8px 0 0 8px;
        &:focus, &:hover {
            border-color: $primary-color;
        }
    }
    button {
        border-left: none;
        border-color: $primary-color;
        width: 10%;
        border-left: none;
        cursor: pointer;
        border-radius: 0 8px 8px 0;
        outline: none;
        &:hover {
            border-color: darken($primary-color, 20%);
            background: darken($primary-color, 20%);
        }
    }
    form {
        > .success {
            padding-top: 30px;
            p, p * {
                font-size: 1.8em;
                line-height: 70px;
                color: darken($primary-color, 20%);   
            }
        }
        > .container {
            padding-top: 60px;
        }
        .error {
            background: lighten(red, 20%);
            width: 100%;
            padding: 0 8px;
            border: solid 3px red;
            position: relative;
            margin-bottom: 20px;
            p, p * {
                color: lighten(red, 40%);
                margin: 0;
            }
            > i {
                color: lighten(red, 40%);
                margin: 0;
                position: absolute;
                top: 3px;
                right: 3px;
                cursor: pointer;
            }
        }
        &.ng-invalid {
            &.ng-submitted {
                > .container {
                    padding-top: 0;
                }
                
            }
        }
    }
}