.social-corner {
  margin-bottom: 40px;
  h6 {
    margin-bottom: 15px;
  }
  
  ul {
    overflow: hidden;
    li {
      margin-right: 12px;
      span {
        font-size:1.5em;
      }
      &:last-child{
        margin-right:0px;
      }
    }
  }
  .fb {
    color: #3B5998;
  }
  .twit {
    color: #4099FF;
  }
  .yt {
    color: #e52d27;
  }
  .ig {
    color: #517fa4;
  }
  .tum {
    color: #32506d;
  }
}