.spotlight {
	height: 520px;
	overflow: hidden;
	margin-bottom: 80px;
	> .spot {
		display: block;
		float: left;
		height: 100%;
		width: 100%;
		background: url('../images/spot_1.png');
		background-attachment: fixed;
		background-size: cover;
		background-position: bottom;
		.text-box {
			background: rgba(0, 0, 0, 0.60);
			padding: 25px 50px;
			text-align: center;
			margin-top: 130px;
			> h1 {
				color: #fff;
				line-height: 68px;
				font-weight: 100;
				font-size: 60px;
				> * {
					line-height: 78px;
				}
			}
			> .btn {
				font-weight: 100;
				margin-top: 25px;
				display: block;
				height: 87px;
				line-height: 87px;
				color: #fff;
				font-size: 72px;
			}
		}
	}
}