.top-artist {
  margin-bottom: 80px;
  h2 {
    font-size: 3.0em;
    line-height: 1.0em;
    position: relative;
    margin-bottom: 40px;
  }
  .control {
    button {
      position: relative;
      top: 40px;
      cursor: pointer;
      background: none;
      border: none;
      outline: none;
      i {
        color: $inactive-color;
        
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
  .prev {
    text-align: right;
  }
  .next {}
  .stage {
    overflow: hidden;
    height: 201px;
    > ul {
      width: 99999px;
      height: 201px;
      list-style: none;
      > li {
        cursor: pointer;
        display: block;
        width: 232px;
        height: 201px;
        margin-right: 20px;
        border: solid 1px $secondary-color;
        position: relative;
        img {
          width: 100%;
          height: 100%;
        }
        &:hover {
          > .text-box {
            top: 0;
          }
        }
        > .text-box {
          width: 100%;
          position: absolute;
          top: 201px;
          height: 232px;
          padding: 0 8px;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          p {
            line-height: 1.2em;
            &:first-child {
              text-transform: capitalize;
              line-height: 45px;
              margin-bottom: 10px;
              border-bottom: solid 1px #fff;
            }
            > a {
              color: #fff;
              margin-top: 7px;
              line-height: 31px;
              font-size: 0.8em;
              border-radius: 5px;
              padding: 0 8px;
              font-weight: bold;
              &:hover {
                background-color: darken($primary-color, 20%);
              }
            }
          }
        }
      }
    }
  }
  p {
    margin: 0;
    > a {
      padding: 0 4px;
    }
  }
}