.upcoming-events {
  margin-bottom: 80px;
  h2 {
    font-size: 3.0em;
    line-height: 1.0em;
    position: relative;
    margin-bottom: 40px;
  }
  
  p {
    margin: 0;
  }
  
  p > a {
    padding: 0 4px;
  }
}

.card {
  overflow: hidden;
  cursor: pointer;
  > div {
    height: 250px;
    width: 100%;
    overflow: hidden;
    background-position: bottom;
    background-size: cover;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
    &.blaze-the-stage {
      background-image: url('../images/blaze-the-stage.png');
    }
    &.brilliant-idiots {
      background-image: url('../images/brilliant-idiots.png');
    }
    &.futoboleros {
      background-image: url('../images/futoboleros.png');
    }
    &.sbk {
      background-image: url('../images/tsbk.png');
    }
    &.artist {
      background-image: url('../images/artist-list.png');
    }
    &.artist-d {
      background-image: url('../images/artist-list-d.png');
    }
    &.comedian {
      background-image: url('../images/comedian-list.png');
    }
  }
  &:hover {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.35);
    border-color: $secondary-color;
    > div {
      -ms-transform: scale(1.1, 1.1);
      /* IE 9 */
      
      -webkit-transform: scale(1.1, 1.1);
      /* Safari */
      
      transform: scale(1.1, 1.1);
    }
  }
  > header {
    border-top: solid 1px lighten($border-color, 20%);
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    background: #fff;
    margin-bottom: 0;
    position: relative;
    z-index: 999;
  }
}