// bower:scss
@import "gridle/sass/gridle/_gridle.scss";
// endbower

// setting up the grid
@include gridle_setup( (
	context : 15,
	gutter-width : 20px,
	direction : ltr,
) );

@include gridle_register_state( xs, (
    max-width : 768px
) );
@include gridle_register_state( sm , (
    min-width : 768px
) );
@include gridle_register_state( md, (
    min-width : 992px
) );
@include gridle_register_state( lg, (
    min-width : 1200px
) );

// generate classes :
@include gridle_generate_classes ( );

// manage container width :
.container {
	max-width : 1180px;
	margin : 0 auto;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


@import "type";
@import "header";