// bower:scss
@import "gridle/sass/gridle/_gridle.scss";
// endbower
@import "font-awesome-sass/assets/stylesheets/font-awesome.scss";

// setting up the grid
@include gridle_setup( (
	context : 15,
	gutter-width : 40px,
	direction : ltr,
) );

@include gridle_register_state( xs, (
    max-width : 768px
) );
@include gridle_register_state( sm , (
    min-width : 768px
) );
@include gridle_register_state( md, (
    min-width : 992px
) );
@include gridle_register_state( lg, (
    min-width : 1200px
) );

// generate classes :
@include gridle_generate_classes ( );

// manage container width :
.container {
	max-width : 1180px;
	margin : 0 auto;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
    box-sizing: border-box;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

@import "type";
@import "header";
@import "rail";
@import "stalkerNav";
@import "spotlight";
@import "welcome";
@import "topArtist";
@import "card";
@import "services";
@import "emailSignUp";
@import "ad";
@import "socialCorner";
@import "contact";
@import "upcomingEvents";
@import "newsletter";
@import "footer";
@import "articleSummary";
@import "pageHeader";

body {
    margin: 0;
    padding: 0;
}

//HELPER CLASSES
.margin-b {
    margin-bottom: 20px;
}

.margin-b-xl {
    margin-bottom: 40px;
}

.margin-t {
    margin-top: 20px;
}

.no-margin {
  margin: 0;
}

.no-margin-l {
  margin-left: 0;
}

.no-margin-r {
  margin-right: 0;
}

.no-margin-t {
  margin-top: 0;
}

.no-margin-b {
  margin-bottom: 0;
}

.padding {
  padding: 20px;
}

.padding-xl {
  padding: 40px;
}

.padding-t {
    padding-top: 20px;
}

.padding-t-xl {
    padding-top: 40px;
}

.no-padding {
  padding: 0;
}

.no-padding-l {
	padding-left: 0;
}

.no-padding-r {
	padding-right: 0;
}