<div class="border-tb page-header">
    <div class="container">
        <div class="grid-xs-15 grid-sm-10">
            <h1 class="capitalize">About</h1>
            <h6>TB Events &amp; Media is your one stop source for booking the biggest names in music, comedy, and entertainment.</h4>
        </div>
    </div>
</div>
<div class="container">

    <div class="grid-xs-15 grid-sm-9 grid-md-10">
        <h2 class="border-b">Overview</h2>
        <p>TB Events &amp; Media has provided outstanding services to our clientele for over 10 years for college events, corporate events, concerts, private parties, special events, festivals, and fundraisers. As a direct agent, we handle the arrangement of talent and event execution. We take care of the logistics so organizations can concentrate on the internal business at hand. We have successfully leveraged relationships with artists, athletes, comedians, managers, and record labels allowing us to provide an easy and direct path to obtain the big talent our clients request. </p>
    </div>
    
    
    
    <div class="grid-xs-15 grid-sm-7 grid-md-5 rail margin-b" ng-include="'views/rail.html'">
    </div>
</div>

