<div class="border-tb page-header">
    <div class="container">
        <div class="grid-xs-15 grid-sm-10">
            <h1 class="capitalize">concerts</h1>
            <h6>TB Events &amp; Media is your one stop source for booking the biggest names in music, comedy, and entertainment.</h4>
        </div>
    </div>
</div>
<div class="container">

    <div class="grid-xs-15 grid-sm-9 grid-md-10">
        <h2>Overview</h2>
        <p>TB Events &amp; Media has provided outstanding services to our clientete for over 10 years. We handle the contracting of the talent as a direct agent. We do all the work so you can concentrate on the business at hand. We have successfully leveraged relationships with Artists, Athletes, Comedians, Managers, and Record Labels in order to provide an easy and direct way to obtain the big talent our clients want at their college events, corporate events, concerts, private parties, special events, festivals, and fund raisers.</p>
    </div>
    
    
    
    <div class="grid-xs-15 grid-sm-6 grid-md-5 rail margin-b" ng-include="'views/rail.html'">
    </div>
</div>
