<div class="border-tb page-header">
    <div class="container">
        <div class="grid-xs-15 grid-sm-10">
            <h1 class="capitalize">contact</h1>
            <h6>TB Events &amp; Media is your one stop source for booking the biggest names in music, comedy, and entertainment.</h4>
        </div>
    </div>
</div>
<div class="container">

    <div class="grid-xs-15 grid-sm-9 grid-md-10">
        <h2  class="border-b">Planning an Event?</h2>
        <p>Leave us a message and we'll be in touch.</p>
        
         <form class="contact" name="m-contact-form">
            <div class="container">
                <input class="grid-15 margin-b" type="email" name="cf_email" placeholder="Email address"/>
            </div>
            <div class="container">
                <input class="grid-15 margin-b" type="subject" name="cf_subject" placeholder="Subject"/>
            </div>
            <div class="container">            
                <textarea class="grid-15 margin-b" name="cf_message" placeholder="Say hi..."></textarea>
            </div>
<!--
            <div class="container">
                <p class="error">This is an error message</p>
            </div>
-->
            <div class="container">
                <button type="submit" class="grid-15 uppercase border">submit</button>
            </div>
        </form>
    </div>
    
    
    
    <div class="grid-xs-15 grid-sm-6 grid-md-5 rail margin-b" ng-include="'views/rail.html'">
    </div>
</div>

