<div class="border-tb page-header">
  <div class="container">
    <div class="grid-xs-15 grid-sm-10">
      <h1 class="capitalize">event planning</h1>
      <h6>TB Events &amp; Media is your one stop source for booking the biggest names in music, comedy, and entertainment.</h4>
    </div>
  </div>
</div>
<div class="container">
  <div class="grid-xs-15 grid-sm-9 grid-md-10">
    <h2 class="border-b">Overview</h2>
    <p>TB Events &amp; Media has experience in organizing successful events from private corporate events to festivals and large-scale concert promotions in arenas like Madison Square Garden, and Nassau Coliseum with attendance of thousands. D. Up Entertainment provides an unparalleled artist booking service to their clients.</p>
    <p>Whether you are a promoter, corporate entertainment booking agent, college event coordinator, or someone interested in booking entertainment for your first event, the music agents at TB Events & Media are here to assist you. We work directly with you to obtain the entertainment for your events.</p>
    <p>We offer entertainment from Hosts, Comedians, DJs, TV and Movie Stars, and Artists of all musical genres. We can accommodate large and small budgets and will work with you to create a very successful event with a lasting impression.</p>    
  </div>
  
  <div class="grid-xs-15 grid-sm-6 grid-md-5 rail margin-b" ng-include="'views/rail.html'">
  </div>
</div>