<div class="primary-bg-dark">
  <div class="container">
    <div class="grid-xs-15 grid-sm-4">
      <h6 class="uppercase"><i class="fa fa-info-circle fa-inverse"></i>&nbsp;&nbsp;about tb events &amp; media</h6>
      <hr width="10%">

      <p class="light-txt">TB Events &amp; Media is your one stop source for booking the biggest names in music, comedy, and entertainment.</p>

      <p class="white-txt no-margin"><i class="fa fa-map-marker secondary-txt"></i>&nbsp;&nbsp;Brooklyn, New York USA</p>
      <p class="white-txt no-margin"><i class="fa fa-envelope secondary-txt"></i>&nbsp;&nbsp;<a href="" class="white-txt">info@tbeventsandmedia.com</a>
      </p>
      <!--
      <ul class="no-list-style services-list">
        <li><a href="#/services" class="capitalize">services</a>
        </li>
        <li><a href="#/comedy" class="capitalize">comedy</a>
        </li>
        <li><a href="#/sports" class="capitalize">sports</a>
        </li>
        <li><a href="#/concerts" class="capitalize">concerts</a>
        </li>
        <li><a href="#/events" class="capitalize">events</a>
        </li>
        <li><a href="#/contact" class="capitalize">contact</a>
        </li>
      </ul>
-->
    </div>

    <div class="grid-xs-15 grid-sm-3 no-gutter">
      <h6 class="uppercase"><i class="fa fa-twitter fa-inverse"></i>&nbsp;&nbsp;latest news</h6>
      <hr width="10%">
<!--
      <div class="container post-container">
        <div class="post">
          <p class="white-txt"><i class="fa fa-quote-left secondary-txt"></i>&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp;&nbsp;<i class="fa fa-quote-right secondary-txt"></i>
          </p>
          <p class="light-txt uppercase">april 20, 2015</p>
        </div>
      </div>
-->
    </div>

    <div class="grid-xs-15 grid-sm-4" ng-controller="InstagramCtrl">
      <h6 class="uppercase"><i class="fa fa-camera fa-inverse"></i>&nbsp;&nbsp;recent photos</h6>
      <hr width="10%">
<!--
      <div class="container image-container">
        <div class="grid-xs-5 grid-sm-5 no-gutter" ng-repeat="image in photos | limitTo: 9">
          <div>
            <div class="overlay"><i class="fa fa-search fa-inverse"></i>
            </div>
            <a ng-href="{{image.link}}" target="_blank"><img ng-src="{{image.images.thumbnail.url}}" width="100%" />
            </a>
          </div>
        </div>
      </div>
-->
    </div>

    <div class="grid-xs-15 grid-sm-4 contact">
      <h6 class="uppercase"><i class="fa fa-comment fa-inverse"></i>&nbsp;&nbsp;leave a message</h6>
      <hr width="10%">
      <form name="f-contact-form">
        <div class="container error">
          <p class="txt-center"><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;All fields are required.</p>
        </div>
        <div class="container">
          <input class="grid-15 margin-b" type="email" name="cf_email" placeholder="Email address" />
        </div>
        <div class="container">
          <input class="grid-15 margin-b" type="subject" name="cf_subject" placeholder="Subject" />
        </div>
        <div class="container">
          <textarea class="grid-15 margin-b" name="cf_message" placeholder="Say hi..."></textarea>
        </div>
        <div class="container">
          <button type="submit" class="grid-15 uppercase border">submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="border-t">
  <div class="container">
    <ul class="no-list-style social-list float-sm-right">
      <li class="pull-left">
        <a href="http://www.facebook.com/tbeventsmedia" target="_blank" class="no-hover">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x light-txt"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="pull-left">
        <a href="http://www.twitter.com/tbeventsmedia" target="_blank" class="no-hover">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x light-txt"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="pull-left">
        <a href="http://www.youtube.com/tbeventsmedia" target="_blank" class="no-hover">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x light-txt"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="pull-left">
        <a href="https://instagram.com/tbeventsmedia" target="_blank" class="no-hover">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x light-txt"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="pull-left">
        <a href="http://www.tumblr.com/tbeventsmedia" target="_blank" class="no-hover">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x light-txt"></i>
            <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>


    <p class="float-sm-left light-txt no-margin">
      &copy; 2015 TB Events &amp; Media. All Rights Reserved.
    </p>
  </div>
</div>