<div class="container">
    <div class="grid-xs-15 grid-sm-3">
        <ul>
            <li>services</li>
        </ul>
        
        <ul>
            <li>fb</li>
        </ul>
    </div>
    
    <div class="grid-xs-15 grid-sm-8 prefix-sm-4 grid-md-6 prefix-md-6">
        <h3 class="capitalize">leave a message</h3>
        <form>
            <div class="container">
                <input class="grid-15" type="email" name="cf_email" placeholder="email address"/>
            </div>
            <div class="container">
                <input class="grid-15" type="subject" name="cf_subject" placeholder="subject"/>
            </div>
            <div class="container">            
                <textarea class="grid-15" name="cf_message" placeholder="Say hi..."></textarea>
            </div>
            <div class="container">
                <p class="error">This is an error message</p>
            </div>
            <div class="container">
                <input class="grid-15" type="submit" name="cf_submit" value="send"/>
            </div>
        </form>
    </div>
</div>