<div class="border-tb page-header">
    <div class="container">
        <div class="grid-xs-15 grid-sm-10">
            <h1 class="capitalize">services</h1>
            <h6>TB Events &amp; Media is your one stop source for booking the biggest names in music, comedy, and entertainment.</h4>
        </div>
    </div>
</div>
<div class="container">

    <div class="grid-xs-15 grid-sm-9 grid-md-10 well">
        <div class="article-summary">
            <ul class="no-list-style">
                <li>
                    <div class="img-holder border-secondary">
                    
                    </div>
                    <h2 secondary-txt>Fabolous &amp; J. Cole</h2>
                    <p>Hammerstein Ballroom</p>
                </li>
                <li>
                    <div class="img-holder border-secondary">
                    
                    </div>
                    <h2>Aggie Fest 2011</h2>
                    <p>NC A &amp; T</p>
                </li>
            </ul>
            <p class="pull-right"><a href="">View all views &raquo;</a></p>
        </div>
    </div>
    
    
    
    <div class="grid-xs-15 grid-sm-6 grid-md-5 rail margin-b" ng-include="'views/rail.html'">
    </div>
</div>

