<div class="border-tb page-header">
    <div class="container">
        <div class="grid-xs-15 grid-sm-10">
            <h1 class="capitalize">gallery</h1>
            <h6>TB Events &amp; Media is your one stop source for booking the biggest names in music, comedy, and entertainment.</h4>
        </div>
    </div>
</div>
<div class="container">

    <div class="grid-xs-15 grid-sm-9 grid-md-10 well">
        <div class="article-summary">
            <ul class="no-list-style">
                
</video>
                <li class="margin-b-xl">
                    <div class="img-holder border-secondary">
                    
                
                <video width="767" height="390" controls>
  <source src="images/movie.mp4" type="video/mp4">">
  Your browser does not support the video tag.
</video>
                    </div>
                    <h2 class="secondary-txt tk-calluna">Need Title</h2>
                    <p>Location???</p>
                </li>
                <li class="margin-b-xl">
                    <div class="img-holder border-secondary">
                    
                    </div>
                    <h2 class="secondary-txt tk-calluna">Fabolous &amp; J. Cole</h2>
                    <p>Hammerstein Ballroom</p>
                </li>
                <li class="margin-b-xl">
                    <div class="img-holder border-secondary">
                    
                    </div>
                    <h2 class="secondary-txt tk-calluna">Aggie Fest 2011</h2>
                    <p>NC A &amp; T</p>
                </li>
            </ul>
            <p class="pull-right"><a href="">View all views <i class="fa fa-angle-double-right primary-txt"></i></a></p>
        </div>
    </div>
    
    
    
    <div class="grid-xs-15 grid-sm-6 grid-md-5 rail margin-b" ng-include="'views/rail.html'">
    </div>
</div>

