<div class="dark-bg info-bar">
  <div class="container">
    <div class="grid-xs-15 grid-sm-8">
      <ul class="no-list-style float-sm-left">
        <li class="border-l border-r"><a href="" class="light-txt"><i class="fa fa-envelope secondary-txt"></i>&nbsp;&nbsp;info@tbeventsandmedia.com</a>
        </li>
      </ul>
    </div>

    <div class="grid-xs-15 grid-sm-7">
      <ul class="no-list-style float-sm-right light-txt">
        <li class="border-l"><a target="_blank" href="http://www.facebook.com/tbeventsmedia" class="fb"><i class="fa fa-facebook light-txt"></i></a>
        </li>
        <li class="border-l"><a target="_blank" href="http://www.twitter.com/tbeventsmedia"  class="twit"><i class="fa fa-twitter light-txt"></i></a>
        </li>
        <li class="border-l"><a target="_blank" href="http://www.youtube.com/tbeventsmedia"  class="yt"><i class="fa fa-youtube light-txt"></i></a>
        </li>
        <li class="border-l"><a target="_blank" href="https://instagram.com/tbeventsmedia" target="_blank" class="ig"><i class="fa fa-instagram light-txt"></i></a>
        </li>
        <li class="border-l border-r"><a target="_blank" href="http://www.tumblr.com/tbeventsmedia"  class="tum"><i class="fa fa-tumblr light-txt"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<nav class="container">
  <ul class="no-list-style">
    <li class="grid-xs-15 grid-sm-2 push-sm-7">
      <a href="#/" class="uppercase no-color no-hover" id="logo">tb events &amp; media</a>
    </li>
    <li class="grid-xs-15 grid-sm-2 pull-sm-2">
      <a href="#/about" class="uppercase no-color">about</a>
    </li>
    <li class="grid-xs-15 grid-sm-2 pull-sm-2">
      <a href="#/services" class="uppercase no-color">services</a>
      <ul class="no-list-style hide-xs visibile-sm">
        <li>
          <a href="#/services/marketing" class="uppercase no-color">marketing &amp; promotions</a>
        </li>
        <li>
          <a href="#/services/event-planning" class="uppercase no-color">event planning</a>
        </li>
        <li>
          <a href="#/services/booking" class="uppercase no-color">celebrity booking</a>
        </li>
      </ul>
    </li>
    <li class="grid-xs-15 grid-sm-2 pull-sm-2">
      <a href="#/entertainment" class="uppercase no-color">entertainment</a>
      <ul class="no-list-style hide-xs visibile-sm">
        <li>
          <a href="#/entertainment/comedy" class="uppercase no-color">comedy</a>
        </li>
        <li>
          <a href="#/entertainment/sports" class="uppercase no-color">sports</a>
        </li>
        <li>
          <a href="#/entertainment/concerts" class="uppercase no-color">concerts</a>
        </li>
      </ul>
    </li>
    <li class="grid-xs-15 grid-sm-2 push-sm-1">
      <a href="#/events" class="uppercase no-color">events</a>
    </li>
    <li class="grid-xs-15 grid-sm-2 push-sm-1">
      <a href="#/gallery" class="uppercase no-color">gallery</a>
    </li>
    <li class="grid-xs-15 grid-sm-2 push-sm-1">
      <a href="#/contact" class="uppercase no-color">contact</a>
    </li>
    <li>
  </ul>
</nav>