<nav class="container">
    <ul class="no-list-style">
        <li class="grid-xs-15 grid-sm-3 push-sm-6">
            <a href="#/" class="uppercase no-color no-hover" id="logo">tb events &amp; media</a>
        </li>
        <li class="grid-xs-15 grid-sm-2 pull-sm-3">
            <a href="#/about" class="uppercase no-color">about</a>
        </li>
        <li class="grid-xs-15 grid-sm-2 pull-sm-3">
            <a href="#/services" class="uppercase no-color">services</a>
            <ul class="no-list-style hide-xs visibile-sm">
                <li>
                    <a href="#/services/marketing" class="capitalize no-color">marketing &amp; promotions</a>
                </li>
                <li>
                    <a href="#/services/event-planning" class="capitalize no-color">event planning</a>
                </li>
                <li>
                    <a href="#/services/booking" class="capitalize no-color">celebrity booking</a>
                </li>
            </ul>
        </li>
        <li class="grid-xs-15 grid-sm-2 pull-sm-3">
            <a href="#/entertainment" class="uppercase no-color">entertainment</a>
            <ul class="no-list-style hide-xs visibile-sm">
                <li>
                    <a href="#/comedy" class="uppercase no-color">comedy</a>
                </li>
                <li>
                    <a href="#/sports" class="uppercase no-color">sports</a>
                </li>
                <li>
                    <a href="#/concerts" class="uppercase no-color">concerts</a>
                </li>
            </ul>
        </li>
        <li class="grid-xs-15 grid-sm-2">
            <a href="#/events" class="uppercase no-color">events</a>
        </li>
        <li class="grid-xs-15 grid-sm-2">
            <a href="#/gallery" class="uppercase no-color">gallery</a>
        </li>
        <li class="grid-xs-15 grid-sm-2">
            <a href="#/contact" class="uppercase no-color">contact</a>
        </li>
        <li>
    </ul>
</nav>
