<div class="spotlight">
    <div class="spot">
        <div class="container">
            <div class="text-box grid-xs-8">
                <h1 class="uppercase">let <span class="secondary-txt">tb events &amp; media</span><br/>plan your next event</h1>
                <a href="" class="btn primary-bg primary-bg-hover uppercase">book now</a>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="grid-sm-11">
        <div class="welcome">
            <h2 class="tk-calluna primary-txt">Welcome to TB Events &amp; Media</h2>
            <p>We are committed to the success of our clients. Our established relationships within the music and entertainment industry give us an increased advantage over competitors to help provide you with optimal service in Celebrity Bookings as well as Marketing &amp; Promotions. It is our goal to put on events that promote your respective colleges or universities in addition to building a strong relationship that carries on into the distant future. We are excited at the opportunity to present our company to you, in hopes that you will consider us as a viable partner and resource for your future endeavors. <a href="#/about">Read more</a>
            </p>
        </div>
        
        <div class="container">
            <div class="grid-sm-5 card">
                <header>
                    heading 1
                </header>
            </div>
            <div class="grid-sm-5 card">
                <header>
                    heading 2
                </header>
            </div>
            <div class="grid-sm-5 card">
                <header>
                    heading 3
                </header>
            </div>
        </div>
        
    </div>
    <div class="grid-sm-4">
        rail..
    </div>
</div>