<div class="spotlight">
  <div class="spot">
    <div class="container">
      <div class="text-box grid grid-sm-10 grid-xs-15">
        <h1 class="uppercase">let <span class="secondary-txt">tb events &amp; media</span><br/>plan your next event</h1>
        <a href="#/contact" class="btn primary-bg primary-bg-hover uppercase">book now</a>
      </div>
    </div>
  </div>
</div>

<div class="services" ng-include="'views/services.html'"></div>

<div class="welcome" ng-include="'views/welcome.html'"></div>

<div class="upcoming-events" ng-include="'views/upcomingevents.html'"></div>

<div class="newsletter" ng-include="'views/newsletter.html'"></div>

<!--
<div class="top-artist">
  <div class="container">
    <h2 class="txt-center secondary-txt"><span class="txt-light secondary-txt">Top</span> Celebrities</h2>
  </div>
  <div tb-carousel="" tb-carousel-items="topArtists">
  </div>
</div>
-->
