<div class="border-tb page-header">
    <div class="container">
        <div class="grid-xs-15 grid-sm-10">
            <h1 class="capitalize">marketing &amp; promotions</h1>
            <h6>TB Events &amp; Media is your one stop source for booking the biggest names in music, comedy, and entertainment.</h4>
        </div>
    </div>
</div>
<div class="container">

    <div class="grid-xs-15 grid-sm-9 grid-md-10 well">
        <h2  class="border-b">Overview</h2>
        <p>TB Events &amp; Media is a marketing and entertainment firm that prides itself on providing companies with productive marketing strategies and campaigns.</p>
    
      <h6 class="txt-light">We provide a wide array of services including but not limited to:</h6>
        <ul class="margin-b margin-l-xl margin-t">
            <li class="capitalize">product marketing promotion</li>
            <li class="capitalize">album promotion</li>
            <li class="capitalize">movie promotion</li>
            <li class="capitalize">social media outreach and product licensing</li>
        </ul>

<p>As well, TB Events &amp; Media has positive relationships with influential individuals in the entertainment industry, including record executives, pro-athletes, entertainers from all genres and radio personalities, which TB leverages to seed music and product into the trendsetter community and in turn broadcasts through its network in real time via its extension(s) online. All of which will give your product an edge over competitors and appeal to young and trendy consumers.</p>
<!--<p>Here are a few of the companies that have benefitted from TB Events &amp; Media and its understanding of its market:</p>-->
        
        
    </div>
    
    
    
    <div class="grid-xs-15 grid-sm-6 grid-md-5 rail margin-b" ng-include="'views/rail.html'">
    </div>
</div>
