<div class="container">
  <div class="grid-sm-12 centered">
    <h2 class="white-txt"><span class="txt-light white-txt">Newsletter</span> Signup</h2>
    <p class="white-txt">Enter your email to recieve important updates to your inbox, for free. Stay up to date with our Top Celebrities and all Upcoming Events.</p>
    <form name="newsletter-form">
      <input type="email" name="email" class="float-left" placeholder="your email address" />
      <button type="submit" class="float-left primary-bg"><i class="fa fa-envelope fa-inverse"></i></button>
    </form>
  </div>
</div>