<div class="email-signup">
    <h6 class="dark-bg tk-calluna capitalize">email signup</h6>
    <p>Stay up to date with our talent roster and upcoming events</p>

    <form name="signup-form">
        <div class="cf">
            <input type="email" placeholder="Email address" class="pull-left" />
            <a href="" class="uppercase secondary-bg secondary-bg-hover pull-left">go</a>
        </div>
    </form>
</div>

<div class="ad">
    <p class="uppercase">advertisment</p>
    <a href="">
        <img src="../images/sbk-ad.jpg" class="border" />
    </a>
</div>

<div class="social-corner">
    <h6 class="dark-bg tk-calluna capitalize">social corner</h6>
    <a href=""><span class="myspace pull-left"></span></a>
    <a href=""><span class="instagram pull-left"></span></a>
    <a href=""><span class="twitter pull-left"></span></a>
    <a href=""><span class="facebook pull-left"></span></a>
    <a href=""><span class="youtube pull-left"></span></a>
    <a href=""><span class="tumblr pull-left"></span></a>
</div>