<div class="email-signup">
    <h6 class="dark-bg tk-calluna uppercase"><i class="fa fa-envelope fa-inverse"></i>&nbsp;&nbsp;email signup</h6>
    <p>Stay up to date with our talent roster and upcoming events</p>

    <form name="signup-form">
        <div class="cf">
            <input type="email" placeholder="Email address" class="pull-left" />
            <a href="" class="uppercase secondary-bg secondary-bg-hover pull-left">go</a>
        </div>
    </form>
</div>

<div class="ad">
    <p class="uppercase">advertisment</p>
    <a href="">
        <img src="./images/sbk-ad.jpg" class="border" />
    </a>
</div>

<div class="social-corner">
    <h6 class="dark-bg tk-calluna uppercase"><i class="fa fa-heart fa-inverse"></i>&nbsp;&nbsp;social corner</h6>
    <ul class="no-list-style social-list">
      <li class="pull-left">
        <a href="http://www.facebook.com/tbeventsmedia" class="no-hover" target="_blank">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x fb"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="pull-left">
        <a href="http://www.twitter.com/tbeventsmedia" class="no-hover" target="_blank">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x twit"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="pull-left">
        <a href="http://www.youtube.com/tbeventsmedia" class="no-hover" target="_blank">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x yt"></i>
            <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="pull-left">
        <a href="http://www.instagram.com/tbeventsmedia" class="no-hover" target="_blank">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x ig"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="pull-left">
        <a href="http://www.tumblr.com/tbeventsmedia" class="no-hover" target="_blank">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x tumb"></i>
            <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
</div>