<div class="container">
  <div class="grid-xs-15 grid-sm-5">
    <h2 class="secondary-txt txt-med txt-center">Marketing &amp; Promo</h2>
    <div class="img-holder marketing-promo"></div>
    <p><b>TB Events &amp; Media</b> is a marketing firm that prides itself on providing companies with productive marketing strategies and campaigns. <a href="#/services/marketing">Read more <i class="fa fa-angle-double-right primary-txt"></i></a>
    </p>
  </div>

  <div class="grid-xs-15 grid-sm-5">
    <h2 class="secondary-txt txt-med  txt-center">Event Planning</h2>
    <div class="img-holder event-planning"></div>
    <p><b>TB Events &amp; Media</b> has experience in organizing successful events from private corporate events to festivals and large-scale concert. <a href="#/services/event-planning">Read more <i class="fa fa-angle-double-right primary-txt"></i></a>
    </p>
  </div>

  <div class="grid-xs-15 grid-sm-5">
    <h2 class="secondary-txt txt-med  txt-center">Celebrity Booking</h2>
    <div class="img-holder celebrity-booking"></div>
    <p><b>TB Events &amp; Media</b> is your one stop source for booking the biggest names in music, comedy, and entertainment. <a href="#/servces/booking">Read more <i class="fa fa-angle-double-right primary-txt"></i></a>
    </p>
  </div>
</div>