
    <div class="grid-xs-15 grid-sm-5">
        <h2 class="tk-calluna primary-txt txt-center">Marketing &amp; Promo</h2>
        <div class="img-holder marketing-promo"></div>
        <p><b>TB Events &amp; Media</b> is a marketing firm that prides itself on providing companies with productive marketing strategies and campaigns. <a href="#/marketing">Read more</a>
        </p>
    </div>

    <div class="grid-xs-15 grid-sm-5">
        <h2 class="tk-calluna primary-txt txt-center">Event Planning</h2>
        <div class="img-holder event-planning"></div>
        <p><b>TB Events &amp; Media</b> has experience in organizing successful events from private corporate events to festivals and large-scale concert. <a href="#/event-planning">Read more</a>
        </p>
    </div>

    <div class="grid-xs-15 grid-sm-5">
        <h2 class="tk-calluna primary-txt txt-center">Celebrity Booking</h2>
        <div class="img-holder celebrity-booking"></div>
        <p><b>TB Events &amp; Media</b> is your one stop source for booking the biggest names in music, comedy, and entertainment. <a href="#/booking">Read more</a>
        </p>
    </div>

