<div class="container">
  <h2 class="secondary-txt margin-b txt-center"><span class="txt-light secondary-txt ">Upcoming</span> Events</h2>
  <div class="grid-xs-15 grid-sm-5 margin-b">
    <div class="card border">
      
        <div class="blaze-the-stage">
        </div>
      
      <header>
        blaze the stage night
      </header>
    </div>
  </div>

  <div class="grid-xs-15 grid-sm-5 margin-b">
    <div class="card border">
      
        <div class="artist">
        </div>
      
      <header>
        artists
      </header>
    </div>
  </div>

  <div class="grid-xs-15 grid-sm-5 margin-b">
    <div class="card border">
      
        <div class="sbk">
        </div>
      
      <header>
        street ball kings
      </header>
    </div>
  </div>

  <div class="grid-xs-15 grid-sm-5 margin-b">
    <div class="card border">
      
        <div class="comedian">
        </div>
      
      <header>
        comedians
      </header>
    </div>
  </div>

  <div class="grid-xs-15 grid-sm-5 margin-b">
    <div class="card border">
      
        <div class="brilliant-idiots">
        </div>
      
      <header>
        the brilliant idiots
      </header>
    </div>
  </div>

  <div class="grid-xs-15 grid-sm-5 margin-b">
    <div class="card border">
      
        <div class="artist-d">
        </div>
      
      <header>
        celebrities
      </header>
    </div>
  </div>

  <div class="grid-xs-15 grid-sm-5 margin-b">
    <div class="card border">
      
        <div class="futoboleros">
        </div>
      
      <header>
        futboleros
      </header>
    </div>
  </div>
    
</div>