<div class="container">
  <h2 class="secondary-txt margin-b txt-center"><span class="txt-light secondary-txt ">Upcoming</span> Events</h2>
  <div class="grid-xs-15 grid-sm-5 margin-b">
    <div class="card border">
      
        <div class="blaze-the-stage">
        </div>
      
      <header>
        blaze the stage night
      </header>
    </div>
  </div>

  <div class="grid-xs-15 grid-sm-5 margin-b">
    <div class="card border">
      
        <div class="brilliant-idiots">
        </div>
      
      <header>
        the brilliant idiots
      </header>
    </div>
  </div>

  <div class="grid-xs-15 grid-sm-5 margin-b">
    <div class="card border">
      
        <div class="futoboleros">
        </div>
      
      <header>
        futboleros
      </header>
    </div>
  </div>

  <div class="grix-xs-15 grid-sm-15">
    <p class="pull-right"><a href="#/" class="capitalize">see all events <i class="fa fa-angle-double-right primary-txt"></i></a></p>
  </div>
</div>