
<div class="grid-xs-15 grid-sm-6 grid-md-7" tb-equal-height>
</div>

<div class="grid-xs-15 grid-sm-9 grid-md-8 padding-xl">
  <h3 class="white-txt txt-med txt-center">We are committed to the success of our clients.</h3>
  <hr width="10%">
  <p class="txt-center white-txt">Our established relationships within the music and entertainment industry give us an increased advantage over competitors to help provide you with optimal service in Celebrity Bookings as well as Marketing &amp; Promotions. It is our goal to put on events that promote your respective colleges or universities in addition to building a strong relationship that carries on into the distant future. We are excited at the opportunity to present our company to you, in hopes that you will consider us as a viable partner and resource for your future endeavors. <a href="#/about">Read more <i class="fa fa-angle-double-right secondary-txt"></i></a>
  </p>
</div>
